.container{
    width:800px;
    height: 500px;
    background-color: aliceblue;
    border:2px solid black;
}

.container .row{
   margin-top: 100px;
   margin-left:200px;
}

.form-control{
    width:20rem;
}